@font-face {
  font-family: Consolas;
  src: url(Consolas.ttf);
}

#box-styles>* {
  box-sizing: border-box;
  color: #fff;
  font-size: 14px !important;
  font-family: 'Consolas' !important;
}

#box-styles {
  width: 230px;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #222225ee;
  color: #fff !important;
  border: 1px solid #404040;
  box-shadow: 0px 0 40px 1px rgb(113 113 113 / 22%) !important;
  z-index: 9999;
}

#box-styles-contents {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#box-styles header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #404040;
  padding: 10px;
  color: #ffffff !important;
  background: #1d1e21 !important;
  box-shadow: 0 5px 8px 1px rgb(0 0 0 / 32%) !important;
}

#box-styles header div {cursor: move;}

#box-styles input[type="color"] {
  width: 100% !important;
  height: 35px !important;
}

#box-styles h3 {
  margin: 0 !important;
  font-size: 16px !important;
}

#box-styles ul {
  width: 100% !important;
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px !important;
}

#box-styles ul:last-child {
  border: 0 !important;
  margin-bottom: 0 !important;
}

#box-styles .txt-muted {
  color: #b9b9b9 !important;
  text-transform: capitalize;
}

#box-styles .colu-2>* {
  width: 48% !important;
}