@font-face {
  font-family: Consolas;
  src: url(assets/Consolas.ttf);
}

#show-color,
#show-color>*, #show-color span {
  box-sizing: border-box;
  color: #fff;
  font-size: 14px !important;
  font-family: Consolas, "Courier New", monospace !important;
}

#show-color {
  width: 270px;
  min-height: 70px;

  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  /* background-color: rgb(24, 24, 24); */
  background: linear-gradient(to bottom right, #313335e0, #18181ae8);  

  box-shadow: 1px 2px 8px 2px rgb(24 24 24 / 51%);
  z-index: 9999;
}

#show-color::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: -7px;
  left: 4px;
  background: inherit;
  transform: rotate(45deg);
}

pre {
  word-wrap: break-word;
  text-align: left;
  white-space: pre-line;
}

.di-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-c-b {
  justify-content: space-between;
}

.di-flex-column {
  display: flex;
  flex-direction: column;
}

#show-color a:hover {
  color: #fff !important;
}

#show-color small {
  color: #bebebe !important;
}


.fs-10 {
  font-size: 10px !important;
}

.txt-w {color: #fff !important; }

.txt-muted {
  color: #c7c7c7 !important;
}

.pa-15 {
  padding: 12px !important;
}

.par-10 {
  padding-right: 10px !important;
}


.ptop-0 {
  padding-top: 0 !important;
}

.wi-100 {
  width: 100%;
}

.wi-75 {
  width: 60%;
  height: 100%;
}

.wi-50 {
  width: 50%;
  height: 100%;
}

.wi-25 {
  width: 25%;
  height: 100%;
}

.m-0 {
  margin: 0 !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}


.bd-top {
  border-top: 1px solid rgba(0, 0, 0);
}

.m-box {
  width: 30px !important;
  height: 30px !important;
}