* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 200px;
  font-family: Consolas;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #35353ce6, #000000); 
}

h1 {
  text-transform: uppercase;
}

button {
  padding: 7px;
  width:100%;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

.w-100 {width: 100%;}
.mb-10 {margin-bottom: 10px;}
