* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 170px;
  padding: 10px;
}

button,
label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-primary {
  background: #4444f3;
  color: #fff;
}

button {
  background: #fff;
  color: #1a73e8;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  margin: 0;
  min-width: 36px;
  outline: 0;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color .2s, border .2s, box-shadow .2s;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #dadce0;
  box-shadow: none;
  line-height: 34px;
  padding: 0 24px;
}

.btn-primary img {
  border-radius: 50%;
    height: 28px;
    width: 28px;
    margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.w-100 {
  width: 100% !important;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}