* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Consolas;
}

.container {
  width: 170px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #35353ce6, #4444f3); 
}

h1 {
  text-transform: uppercase;
}

button {
  padding: 7px;
  width:100%;
  font-size: 12px;
}

.mb-10 {margin-bottom: 10px;}