.box-styles>* {
  box-sizing: border-box !important;
  scrollbar-width: thin;
  scrollbar-color: #323234 #5c5c5c;
}

.box-styles {
  width: 300px;
  max-height: 85%;    
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #2d2d2de0;
  color: #000000 !important;
  font-family: 'SyneRegular' !important;
  border: 1px solid #404040;
  box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 40px 1px !important;
  z-index: 9999;
  overflow: auto;
    overflow-x: hidden !important;
  pointer-events: initial !important;
  scrollbar-width: thin;
  scrollbar-color: #2d2d2d #5c5c5c;  
}

.box-styles,
.box-styles p,
.box-styles li {
  font-size: 16px !important;
}

.box-styles header {
  cursor: move;
}

.box-styles header,
.box-styles footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #393939;
  color: #fff;
  padding: 5px 10px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid rgb(85, 85, 85);
  box-shadow: 0 1px 0 rgba(12,13,14,0.15) !important;
}

.box-styles footer {border-top: 1px #f48024; border-bottom: 1px solid transparent;}

.box-styles footer>* {
  font-size: 10px !important;
  justify-content: center !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.box-styles h3 {
  font-size: 16px !important;
}

.box-styles ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  padding: 10px !important;
}

.box-styles ul li span {
  text-transform: capitalize;
}

.box-styles button {  
  background-color: inherit !important;
  color: #dddddd !important;
  border: 1px solid rgb(58, 58, 58) !important;
  padding: 5px;  
  text-transform: uppercase;
  letter-spacing: .6px;
  font-size: 11px !important;
  line-height: 14px !important;
  min-height: auto !important;
  cursor: pointer;
  transition: background-color .25s;
  box-shadow: none !important;
  outline: none !important;
}

.box-styles .btn-close {
  background-color: inherit !important;
  font-size: 16px !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0;
}

.box-styles button:hover { background-color: #00000046 !important; }

.box-styles svg path {
  stroke: #dddddd !important;
}

.box-styles svg:hover path {
  stroke: #ffffff !important;
}

.horizontal-center {
  display: flex !important;
  flex-direction: column;
}

.vertical-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.column-2>* {
  flex: 1 1 50%;
}

.justify-between {
  justify-content: space-between;
}

.txt-muted {
  color: #ddd !important;
}

.txt-yellow {
  color: #FFEB3B !important;
}

.txt-green {    color: #92ff14 !important;}

.txt-lower {
  text-transform: lowercase;
}

.txt-center {
  text-align: center;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.m-0p {
  margin: 0 !important;
}

.mb-10p {
  margin-bottom: 10px !important;
}

.mr-10p{margin-right: 10px !important;}
.mr-5p{margin-right: 3px !important;}

.fs-16 {
  font-size: 16px !important;
}

.disp-none {
  display: none !important;
}
.disp-flex {display:flex; align-items: center;}

.cursor-p {cursor: pointer;}

.element-border {position: relative; box-shadow:inset 0px 0px 0px .5px #537bff; 
  outline:.5px solid #537bff;}

.element-border::before {
  content: ""attr(data-att)"";
position: absolute !important;
top: -23px !important;
left: -1px !important;
font-size: 12px !important;
padding: 2px 5px;
background-color: #537bff !important;
color: #fff !important;
border-top:1px solid #537bff;
    border-right:1px solid #537bff;
    border-left:1px solid #537bff;
}
/*********************************/
.list-styles,.list-styles>* {box-sizing: border-box; font-family: 'Roboto Mono', sans-serif;}

.accordian,
.accordian h4,
.accordian input,
.accordian li {
  color: #ffffff;
  box-sizing: border-box;
  font-size: 12px !important;
  letter-spacing: .6px;
}

.accordian h4 {
  display:flex;
  justify-content:space-between;
  padding: 7px 10px;
  margin: 0 !important;
  background-color:#3d3d3d !important;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid rgb(85, 85, 85);
  transition: all .25s;
}

.accordian h4:hover {
  background-color: #00000046;
}

.accordian ul {
  padding: 0 !important;
}

.accordian li {
  padding: 5px 10px !important;
  border-bottom: 1px solid rgb(58, 58, 58) !important;
}

.accordian li>* {
  width: 50%;
}

.accordian input[type="text"],.accordian input[type="color"] {
  background-color:#3d3d3d !important;
  color: #fff !important;
  padding: 4px 5px !important;
  margin: 0 !important;
  caret-color: #f48024 !important;
  outline: none !important;
  transition: width .25s, background .25s;
}

.accordian input[type="text"] {
  border: 1px dotted 1px solid rgb(88, 88, 88) !important;
}

.accordian input[type="color"] {
  border: 0 !important;
}

.accordian input:focus {
  width: 100%;
}

.circle-box {width: 15px; height: 15px;  border-radius: 50%;}
/*********************************/
.box-modal {
  width: 100%;
  height: 100%;
}

.box-modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.774);
  padding: 10px;
  z-index: 99999;
}

.box-modal textarea{
  box-sizing: border-box;
  width: 50%;
  height:500px;
	padding: 10px 15px;
	margin: 0;
	overflow: auto;
	font-size: 16px !important;
	line-height: 20px;
  background: #1b1a1a;
  color: #fff;
}

.btns-modal {
  position: absolute;
  right:40px;
  top: 20px;
  z-index: 999999;
  background-color: inherit;
  color: #ffffff;
}

/*******************************/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
  background: #3F51B5;
}

.slideDown {
  animation: slideDown .8s cubic-bezier(0, 1, 0, 1);
}

@keyframes slideDown {
  0% {
    opacity: 0;
    max-height: 0;
  }

  100% {
    opacity: 1;
    max-height: 100%;
  }
}

