.fabritor-styles>* {
  box-sizing: border-box !important;
  scrollbar-width: thin;
  scrollbar-color: #393939 #5c5c5c;
}

.fabritor-styles {
  max-height: 90%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(15, 15, 15, 0.95);
  color: #ffffff !important;
  border: 1px solid #404040;
  border-radius: 4px;
  box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 40px 1px !important;
  z-index: 9999;
  overflow-y: auto;
  pointer-events: initial !important;
  scrollbar-width: thin;
  scrollbar-color: #393939 #5c5c5c;
}

.fabritor-styles header span {cursor: grab;}

.canvas-container,
.canvas-container:first-child {
  position: fixed !important;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 9998;
}

.fabritor-styles ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

.fabritor-styles ul li {
  width: 50px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2e2f;
  padding: 5px !important;
  border-radius: 4px;
  margin: 0 5px !important;
}

.fabritor-styles input[type="color"] {
  border: 0 !important;
  padding: 0 !important;
}

.vertical-align {
  display: flex;
  align-items: center;
  text-align: center;
}

.horizontal-align {
  display: flex;
  flex-direction: column;
}

.d-flex {display: flex;}

.border-right {    border-right: 2px solid #2f2f2f;}

.justify-between {
  justify-content: space-between !important;
}

.w-100 {
  width: 100%;
}

.fs-12 {
  font-size: 12px !important;
}